<%= form_with model: @merchant, local: true do |form| %> 
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@merchant.errors.count, "error") %> prohibited
        this merchant from being saved:
      </h2>
      <ul>
        <% @merchant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :active %><br>
    <%= form.check_box :status, {checked: @merchant.active? }, 'active', 'inactive' %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>